.clock{
  text-align: center;
  background-color: rgb(34, 50, 50);
}
h1{
  font-weight: 800;
  font-size: 40px;
  color: red;
}
.contain{
  font-size: 24px;
  font-weight: 500;
}
.date{
  font-weight: 400;
  font-size: 20px;
  color: green;
}